<div class="container">
    <div class="heading">
        <h2 style="font-weight: bold;">Select from the Menu</h2>
    </div>

    <div class="bodyPart">
        <div class="left">
            <a routerLink="/expense" routerLinkActive="active">
                <img src="assets\Expense.png" height="300" width="300">
            </a>
            
        </div>
        <div class="right">
            <a routerLink="/target" routerLinkActive="active">
                <img src="assets\Target.png" height="300" width="300">
            </a>
            
        </div>
        <div class="right">
            <a routerLink="/expenseSeverity" routerLinkActive="active">
                <img src="assets\severity.png" height="300" width="300">
            </a>
            
        </div>
    </div>
</div>

<footer>
    <div class="foot">@Copyright Preethi-Individual-Project 2022 - All Right Reserved.</div> 
</footer>