<div class="header">
  <div class="image">
    <h3>Individual project</h3> 
  </div>

  <h2>{{title}}</h2>
        
  <a style="color: white;" href="/logout">Logout</a>
        
</div>

<!--<body class="check" [ngStyle]="{'background' : 'url(./assets/bg8.jpg)'}">-->

 <body class="check" [ngStyle]="{'background': 'linear-gradient(0deg, rgba(119, 233, 207, 0.6), 
  rgba(119, 233, 207, 0.6)), 
  url(assets/bg8.jpg) center center / cover no-repeat'}"> 
 

    <router-outlet ></router-outlet >

</body>

<!--<footer>
  <div class="foot">@Copyright Preethi-Individual-Project 2022 - All Right Reserved.</div> 
</footer>-->



