<div class="div1"></div>
<div class="main">
  <div style="color: red;text-align: center;padding-top: 15px;font-weight: 200;font: bold;">{{validCred}}</div>
    <p class="sign" align="center">Sign up</p>
    <form class="form1" (ngSubmit) = "signup()">
      <input class="un " type="text" align="center" placeholder="Username" name="userName" [(ngModel)]= "userName">
      <input class="pass" type="password" align="center" placeholder="Password" name="password" [(ngModel)]= "password">
      <button type="submit" class="submit" align="center">Sign up</button>
    </form>       
                
</div>
