/*.col-sm {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
   Clear floats after image containers 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }*/

/* 
  mat-grid-tile {
    background: lightblue;
  } */

 /*.col-sm {
  text-align: center;
  justify-content: center;
 }

 .heading {
  text-align: center;
  margin-top: 50px;
 }

 h2{
  font-size: x-large;
  font-weight: 100px;
 }*/


 .container{
    text-align: center;
    margin-top: 0px;
    justify-content: center;
  }
  
  .heading {
    padding-top: 12px;
    background-color: aliceblue;
    border-radius: 30px;
    width: 40%;
    text-align: center;
    margin: 30px auto;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  }
  
  h2{
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
   .bodyPart {
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 30px 5%;
   }
  
   .left {
    
    width: 30%;
   }
  
   
  
   .right{
    width: 30%;
   }
  
   .btn:hover {
    opacity: 0.8;
  
   }
  
   .btn {
    opacity: 1;
   }
   .foot{
    padding-top: 10px;
    font-size: medium;
    color: black;
    text-align: center;
    height: 40px;
  }